name = "candlespinner"
compatibility_date = "2023-12-01"
pages_build_output_dir = "dist"

***REMOVED***KV 네임스페이스 바인딩
[[kv_namespaces]]
binding = "CREDIT_KV"
id = "e573c59cb09b4d58b5f38a56ef65dd6f"
preview_id = "e573c59cb09b4d58b5f38a56ef65dd6f"